<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome do Júnior</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div class="content">

        <div class="top">
            <div class="fireworks">
                <img src="./fireworks.gif" alt="Foguetes">
                <img src="./fireworks.gif" alt="Foguetes">
            </div>
            <p class="occasion">FELIZ DIA DAS CRIANÇAS!</p>
            <p class="name">Nome da Criança</p>
        </div>

        <div class="middle">
            <div class="rocket">
                <img src="./rocket.gif" alt="Foguetão">
            </div>
            <img src="./child.jpg" class="girl" alt="Foto da Júnior">
        </div>

        <div class="bottom">
            <p>Nosso futuro líder e sonhador...</p>
            <p>Desejamos toda a felicidade neste Dia da Criança!</p>
            <p>És um presente precioso para o mundo.</p>
        </div>

        
    

    </div>

  
    
</body>
</html>