<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome da Júnior</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div class="content">

        <div class="top">
            <div class="confetti">
                <img src="./confetti.gif" alt="Confetti">
                <img src="./confetti.gif" alt="Confetti">
            </div>
            <p class="occasion">FELIZ DIA DAS CRIANÇAS!</p>
            <p class="name">Nome da Criança</p>
        </div>

        <div class="middle">
            <img src="./child.jpg" alt="Foto da Júnior">
        </div>

        <div class="bottom">
            <p>Nossa futura líder e sonhadora...</p>
            <p>Desejamos toda a felicidade neste Dia da Criança!</p>
            <p>És um presente precioso para o mundo.</p>
        </div>

        
    

    </div>

  
    
</body>
</html>